<title>公告信息</title>
<form action="#" method="post" name="addmess" id="addmess">
<table width="860" cellpadding="4" cellspacing="1" bordercolor="#ededed" backgound-color="#ededed" class="big_td">
	<tr>
		<td height="33" id="list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布公告</td>
	</tr>
</table>
<table width="860" height="300"  cellpadding="4" cellspacing="1" bordercolor="#ededed" backgound-color="#ededed" class="big_td">
  <tr>
    <td width="200" height="25" align="right" valign="big_td" backgound-color="#ededed" scope="col">标题：</td>
    <td height="50" align="left" valign="middle" backgound-color="#ededed" scope="col">
	<input type="text" name="title" id="title" />
	&nbsp;</td>
  </tr>
  <tr>
    <td align="right" valign="middle" backgound-color="#ededed">内容：</td>
    <td align="left" valign="middle" backgound-color="#ededed">
	<textarea name="content" id="content" cols="70" rows="15"></textarea>
	</td>
  </tr>
  <tr>
    <td height="30" colspan="2" align="center" valign="middle" backgound-color="#ededed">
	<input name="submit" type="submit" id="submit"  value="发布" />
	&nbsp;
	<input name="submit2" type="reset" id="submit2" value="重置" />
	</td>
  </tr>
</table>
</form>